=javascript_include_tag "//www.gstatic.com/charts/loader.js"
%br
.row
	.col-md-12.text-center
		%h1 [Auto.bet]
%br
.row
	.col-md-12.text-center.white-text
		%h5 Summary
%br
.row
	.col-md-6.border
		%p.lead.text-center.fourth-text Premium Picks
		%table.table.table-bordered
			%tr.fourth-text
				%th Days Running
				%th Bankroll
				%th Profit
				%th Staked
				%th POT
				%th ROI
			%tr
				%td
					=Result.days_running(@premium)
				%td
					=Result.bankroll(@premium)
				%td
					=Result.lifetime_profit(@premium).round(0)
				%td
					=Result.lifetime_staked(@premium).round(0)
				%td
					="#{(Result.pot(@premium)*100).round(2)}%"
				%td
					="#{((Result.lifetime_profit(@premium)/10000)*100).round(2)}%"
	.col-md-6.border
		%p.lead.text-center.third-text Surefire Picks
		%table.table.table-bordered
			%tr.third-text
				%th Days Running
				%th Bankroll
				%th Profit
				%th Staked
				%th POT
				%th ROI
			%tr
				%td
					=Result.days_running(@surefire)
				%td
					=Result.bankroll(@surefire)
				%td
					=Result.lifetime_profit(@surefire).round(0)
				%td
					=Result.lifetime_staked(@surefire).round(0)
				%td
					="#{(Result.pot(@surefire)*100).round(2)}%"
				%td
					="#{((Result.lifetime_profit(@surefire)/10000)*100).round(2)}%"

%br
%hr
%br
.row
	.col-md-12.text-center.white-text
		%h5 Running Profit
%br
.row
	.col-md-6.border
		=line_chart @profit_graph_multi, colors: ["#66D9EF"],min: -5000,max: 5000, points: false, library: {backgroundColor: "transparent"}
	.col-md-6.border
		=line_chart @profit_graph_surefire, colors: ["#D12650"],min: -5000,max: 5000, points: false, library: {backgroundColor: "transparent"}
%br
%hr
%br
.row
	.col-md-12.text-center.white-text
		%h5 Pending Bets
%br
.row
	.col-md-6
		%table.table.table-bordered
			%tr.fourth-text
				%th Race
				%th	Meeting
				%th Horse
				%th Stake
				%th Suggested Odds
			-@pending_bets.where(portfolio: @premium).each do |bet|
				%tr
					%td
						=bet.race
					%td
						=bet.meeting
					%td
						=bet.selection
					%td
						=bet.stake
					%td
						=bet.suggested
	.col-md-6
		%table.table.table-bordered
			%tr.third-text
				%th Race
				%th	Meeting
				%th Horse
				%th Stake
				%th Suggested Odds
			-@pending_bets.where(portfolio: @surefire).each do |bet|
				%tr
					%td
						=bet.race
					%td
						=bet.meeting
					%td
						=bet.selection
					%td
						=bet.stake
					%td
						=bet.suggested
%br
%hr
%br
.row
	.col-md-12.text-center.white-text
		%h5 Yesterdays Results
%br
.row
	.col-md-6.border
		%table.table.table-bordered
			%tr.fourth-text
				%th Date
				%th Bankroll
				%th Staked
				%th Profit
				%th POT
				%tr
					%td
						=@results.first(2).last.date
					%td
						=@results.first(2).last.after
					%td
						=@results.first(2).last.total_staked
					%td
						=@results.first(2).last.profit
					%td
						="#{@results.first(2).last.pot*100}%"
	.col-md-6.border
		%table.table.table-bordered
			%tr.third-text
				%th Date
				%th Bankroll
				%th Staked
				%th Profit
				%th POT
				%tr
					%td
						=@results.first.date
					%td
						=@results.first.after
					%td
						=@results.first.total_staked
					%td
						=@results.first.profit
					%td
						="#{@results.first.pot*100}%"
%br
%hr
%br
.row
	.col-md-12.text-center.white-text
		%h5 Yesterdays Bets
%br
.row
	.col-md-6
		%table.table.table-bordered
			%tr.fourth-text
				%th Race
				%th	Meeting
				%th Horse
				%th Stake
				%th Suggested Odds
				%th Odds
				%th Profit
			-@bets.where(portfolio: @premium).each do |bet|
				-if bet.profit.to_f > 1
					%tr.second-text
						%td
							=bet.race
						%td
							=bet.meeting
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							=bet.suggested
						%td
							=bet.odds
						%td
							=bet.profit.to_f.round(0)
				-else
					%tr
						%td
							=bet.race
						%td
							=bet.meeting
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							=bet.suggested
						%td
							=bet.odds
						%td
							=bet.profit.to_f.round(0)
	.col-md-6
		%table.table.table-bordered
			%tr.third-text
				%th Race
				%th	Meeting
				%th Horse
				%th Stake
				%th Suggested Odds
				%th Odds
				%th Profit
			-@bets.where(portfolio: @surefire).each do |bet|
				-if bet.profit.to_f > 1
					%tr.second-text
						%td
							=bet.race
						%td
							=bet.meeting
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							=bet.suggested
						%td
							=bet.odds
						%td
							=bet.profit.to_f.round(0)
				-else
					%tr
						%td
							=bet.race
						%td
							=bet.meeting
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							=bet.suggested
						%td
							=bet.odds
						%td
							=bet.profit.to_f.round(0)				








