%br
.row
	.col-md-12.text-center
		%h1 [Auto.bet]
%br
.row
	.col-md-12.text-center 
		%p.lead Invest Today - You'd Be Fucking Stupid Not To.
%br
.row
	.col-md-12.text-center.white-text
		%h5 Summary
%br
.row
	.col-md-6.border
		%p.lead.text-center.fourth-text
			Premium Picks
			&nbsp;&nbsp;
			=link_to "(Subscribe)", "#", class: "small black"
		%table.table.table-bordered
			%tr.fourth-text
				%th Days Running
				%th Bankroll
				%th Profit
				%th Staked
				%th POT
				%th ROI
			%tr
				%td
					=Result.days_running(@premium)
				%td
					=Result.bankroll(@premium)
				%td
					=Result.lifetime_profit(@premium).round(0)
				%td
					=Result.lifetime_staked(@premium).round(0)
				%td
					="#{(Result.pot(@premium)*100).round(2)}%"
				%td
					="#{((Result.lifetime_profit(@premium)/10000)*100).round(2)}%"
	.col-md-6.border
		%p.lead.text-center.third-text
			Surefire Picks
			&nbsp;&nbsp;
			=link_to "(Subscribe)", "#", class: "small black"
		%table.table.table-bordered
			%tr.third-text
				%th Days Running
				%th Bankroll
				%th Profit
				%th Staked
				%th POT
				%th ROI
			%tr
				%td
					=Result.days_running(@surefire)
				%td
					=Result.bankroll(@surefire)
				%td
					=Result.lifetime_profit(@surefire).round(0)
				%td
					=Result.lifetime_staked(@surefire).round(0)
				%td
					="#{(Result.pot(@surefire)*100).round(2)}%"
				%td
					="#{((Result.lifetime_profit(@surefire)/10000)*100).round(2)}%"

%br
%hr
%br
.row
	.col-md-12.text-center.white-text
		%h5 Running Profit
%br
.row
	.col-md-6.border
		=area_chart @profit_graph_multi, colors: ["#66D9EF"],min: -3000,max: 3000, points: false, library: {backgroundColor: "transparent"}
	.col-md-6.border
		=area_chart @profit_graph_surefire, colors: ["#D12650"],min: -3000,max: 3000, points: false, library: {backgroundColor: "transparent"}
%br
%hr
%br
-if @pending_bets.count > 0
	.row
		.col-md-12.text-center.white-text
			%h5 Pending Bets
	%br
	.row
		.col-md-6
			%table.table.table-bordered
				%tr.fourth-text
					%th Race
					%th	Meeting
					%th Horse
					%th Stake
					%th Suggested Odds
				-@pending_bets.where(portfolio: @premium).each do |bet|
					%tr
						%td
							="#{bet.race} #{bet.time_to}"
						%td
							=bet.meeting
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							=bet.suggested
		.col-md-6
			%table.table.table-bordered
				%tr.third-text
					%th Race
					%th	Meeting
					%th Horse
					%th Stake
					%th Suggested Odds
				-@pending_bets.where(portfolio: @surefire).each do |bet|
					%tr
						%td
							="#{bet.race} #{bet.time_to}"
						%td
							=bet.meeting
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							=bet.suggested
	%br
	%hr
	%br
.row
	.col-md-12.text-center.white-text
		%h5 Yesterday's Results
%br
.row
	.col-md-6.border
		%table.table.table-bordered
			%tr.third-text
				%th Date
				%th Bankroll
				%th Staked
				%th Profit
				%th POT
				%tr
					%td
						=@results.where(portfolio_id: 1).first.date
					%td
						=@results.where(portfolio_id: 1).first.after
					%td
						=@results.where(portfolio_id: 1).first.total_staked
					%td
						=@results.where(portfolio_id: 1).first.profit
					%td
						="#{@results.where(portfolio_id: 1).first.pot*100}%"
	.col-md-6.border
		%table.table.table-bordered
			%tr.third-text
				%th Date
				%th Bankroll
				%th Staked
				%th Profit
				%th POT
				%tr
					%td
						=@results.where(portfolio_id: 2).first.date
					%td
						=@results.where(portfolio_id: 2).first.after
					%td
						=@results.where(portfolio_id: 2).first.total_staked
					%td
						=@results.where(portfolio_id: 2).first.profit
					%td
						="#{@results.where(portfolio_id: 2).first.pot*100}%"
%br
%hr
%br
.row
	.col-md-12.text-center.white-text
		%h5 Yesterday's Bets
%br
.row
	.col-md-6
		%table.table.table-bordered
			%tr.fourth-text
				%th Race
				%th Horse
				%th Stake
				%th Odds (R -> SP)
				%th Profit
			-@bets.where(portfolio: @premium).each do |bet|
				-if bet.profit.to_f > 1
					%tr.second-text
						%td
							="#{bet.race} #{bet.meeting[0..3].upcase}"
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							="#{bet.suggested} -> #{bet.odds}"
						%td
							=bet.profit.to_f.round(0)
				-else
					%tr
						%td
							="#{bet.race} #{bet.meeting[0..3].upcase}"
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							="#{bet.suggested} -> #{bet.odds}"
						%td
							=bet.profit.to_f.round(0)
	.col-md-6
		%table.table.table-bordered
			%tr.third-text
				%th Race
				%th Horse
				%th Stake
				%th Odds (R -> SP)
				%th Profit
			-@bets.where(portfolio: @surefire).each do |bet|
				-if bet.profit.to_f > 1
					%tr.second-text
						%td
							="#{bet.race} #{bet.meeting[0..3].upcase}"
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							="#{bet.suggested} -> #{bet.odds}"
						%td
							=bet.profit.to_f.round(0)
				-else
					%tr
						%td
							="#{bet.race} #{bet.meeting[0..3].upcase}"
						%td
							=bet.selection
						%td
							=bet.stake
						%td
							="#{bet.suggested} -> #{bet.odds}"
						%td
							=bet.profit.to_f.round(0)				








